$color1: #F1E4E6;
$color2: #222222;
$color3: #FFF;
$color4: #F16D7F;
$color5: #6F6E6E;

.nav {
    min-height: 75px;
    display: flex;
    padding: 0 14% 0 14%;
    justify-content: space-between;
    align-items: center;
    background: $color2;

    & svg {
        fill: #FFF;

        &:hover {
            fill: $color4;
        }
    }

    &-right-part{
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        position: relative;
        min-height: 33px;
        width: 159px;

        
    }
    
    // &-right-margin  {
    //     margin: 0 41px 0 0;
    // }

    &-left-part{
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        width: 111px;
    }
}



.search-icon-form {
    // width: 60px;
    height: 30px;
    position: relative;
    display: flex;

    &__label {
        display: block;
        // width: 100%;
        height: 100%;
        }

    &__input {
        width: 0;
        min-height: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        color: $color3;
        font-size: 16px;
        text-transform: capitalize;
        margin: 0 0 0 10px;
    }
    &__input:focus {
        width: 150px;
        min-height: 20px;
        transition: width 1s ease;
        border: 2px solid $color4;
      }    


  } 

.menu {
    width: 162px;
    height: 764px;
    position: absolute;
    background: red;
    left: 238px;
    top: 54px;
    background: #FFFFFF;
    padding: 37px 0 0 34px;
    
    display: none;
    

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    & ul {
        list-style-type: none;
    }

    & span {
        display: block;
        margin: 0 0 24px 0;
    }

    &-head { 
        padding: 12px 0 0 0;  
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        list-style-type: none;
        color: $color4;
        text-transform: uppercase;
    }

    &-item {
        margin: 0 0 11px 0;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: $color5;
        padding: 0 0 0 21px; 
    }
}

.mobile-menu {
    &-checkbox:checked ~ .menu{
        display: block;
    }

    &-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        // background-image: url("img/menu.png");
        // background-repeat: no-repeat;
    }
    
    &-checkbox {
        display: none;
    }
}






