
// много вопросов

@media (max-width: 768px) {
    .main-content {
        padding: 0 4%;
    }
    
    .product {  
        &-item {
            width: 50%;
        }
    } 

    .offer {
        flex-direction: column;
        margin: 0;

        &-item {
            width: 100%;
            padding: 0;
        }    
    }

    .subscribe {
        padding: 53px 4% 14% 4%;
        flex-direction: column;
    }

    .page-footer {
       flex-direction: column-reverse;
       align-items: center;
    }

    .special-offer {
        flex-direction: column;
        align-items: center;
    }

    .brand-description {
        // background-image: none;
        
        
        &-wrp {
           margin-left: auto;
           margin-right: auto;
        }

        & img {
            display: none;
        }
    }

    .nav {
        padding: 0 4%;
    }

    .page-footer {
        padding: 43px 0 9px 0;
    }
    .social {
        margin: 0 0 40px 0;
    }
}  

@media (max-width: 375px) {
    .product {  
        &-item {
            width: 100%;
        }
    } 

    .nav {
        
        &-right-part {
            justify-content: flex-end; 

            &-profile {
                display: none;
            }
            &-cart {
                display: none;
            }
        }
    }
}