* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.navigation {
    min-height: 75px;
    background: #222222;
    display: flex;
    padding: 0 14% 0 14%;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    min-height: 474px;
    background: #F1E4E6;
    padding: 290px 0 0 864px;
    background-image: url("img/Layer57removebgpreview1.png");
    background-repeat: no-repeat;
}

.nav-left-part{
    display: flex;
    align-items:flex-end;
}

.nav-right-part{
    display: flex;
    align-items:flex-end;
}

.nav-right-margin  {
    margin: 0 41px 0 0;
}

.header-text {
    border-left: 12px solid #F16D7F;
    padding: 0 0 0 16px;
}

.top-header-text {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.bottom-header-text {
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.bottom-header-text span {
    color: #F16D7F;
}

.main-content {
    padding: 0 14% 0 14%;
}

.offers {
    min-height: 470px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 65px 0 0 0;
    margin-bottom: 96px;
}

.offer-item {
    background-color: rgba(33, 22, 22, 0.7) ;
    background-repeat: no-repeat; 
    flex-basis: 360px; 
    min-height: 155px; 
    background-blend-mode: multiply; 
    padding: 105px 0 0 0;
    margin-bottom: 30px;
}

.offer-for-woman {
    background-image: url("img/woman.png"); 
}

.offer-for-man {
    background-image: url("img/man.png");  
}

.offer-for-kids { 
    background-image: url("img/kids.png");   
}

.offer-accesories {
    background-color: rgba(33, 22, 22, 0.7) ;
    background-image: url("img/acces.png"); 
    background-repeat: no-repeat; 
    flex-basis: 100%;
    min-height: 115px; 
    background-blend-mode: multiply; 
    padding: 65px 0 0 0;    
}

.offer-top-text {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #F1E4E6;
}

.offer-bot-text {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #F16D7F;;
}
.featured {
    text-align: center;
}

.featured-header {
    margin-bottom: 48px;
}

.featured-header h1 {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em; 
    margin-bottom: 6px; 
}

.featured-header p {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #9F9F9F;
}

.featured-item-text {
    padding: 26px 29px 20px 17px;
    background: #F8F8F8;
}

.featured-items h2 {
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 13px;
    color: #000000;
    ;
}

.desc {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 18px;
    color: #5D5D5D;
    ;
}

.price {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
    
}

.featured-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.f-item {
    background-color: #F7E4E2;
    flex-basis: 360px;
    margin-bottom: 30px;
}

.f-item img {
    display:block;
}

.browse-items {
    border: 1px solid #FF6A6A; 
    padding: 14.5px 38.5px 14.5px 38.5px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #F26376;
    background: #FFFFFF;
    margin-top: 15px;
}

