.nav {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 14% 0 14%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
}

.nav svg {
  fill: #FFF;
}

.nav svg:hover {
  fill: #F16D7F;
}

.nav-right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  min-height: 33px;
}

.nav-right-margin {
  margin: 0 41px 0 0;
}

.nav-left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search-icon-form {
  width: 60px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-icon-form__label {
  display: block;
  width: 100%;
  height: 100%;
}

.search-icon-form__input {
  width: 0;
  min-height: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 0 10px;
}

.search-icon-form__input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #F16D7F;
}

.menu {
  width: 162px;
  height: 764px;
  position: absolute;
  background: red;
  left: 238px;
  top: 54px;
  background: #FFFFFF;
  padding: 37px 0 0 34px;
  display: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

.menu ul {
  list-style-type: none;
}

.menu span {
  display: block;
  margin: 0 0 24px 0;
}

.menu-head {
  padding: 12px 0 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  list-style-type: none;
  color: #F16D7F;
  text-transform: uppercase;
}

.menu-item {
  margin: 0 0 11px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  padding: 0 0 0 21px;
}

.mobile-menu-checkbox:checked ~ .menu {
  display: block;
}

.mobile-menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.mobile-menu-checkbox {
  display: none;
}

.subscribe {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 14%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-image: url("img/Layer 41.png");
  background-color: rgba(244, 244, 244, 0.7);
  background-blend-mode: lighten;
}

.subscribe-left {
  max-width: 310px;
  background-image: url("img/baba.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 126px 0 0 0;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-left span {
  font-style: italic;
}

.subscribe-right {
  text-align: center;
  margin: 0 auto;
}

.subscribe-right span {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.subscribe-right p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 356px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.subscribe-form-email {
  display: block;
  min-height: 49px;
  border: none;
  border-radius: 24px 0 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 22px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  background: #E1E1E1;
  color: #222224;
}

.subscribe-form-email:focus {
  outline: none;
}

.subscribe-form-btn {
  display: block;
  min-height: 49px;
  border-radius: 0 24px 24px 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 22px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: #F16D7F;
  color: #FFFFFF;
}

.page-footer {
  min-height: 79px;
  background: #222224;
  padding: 30px 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-footer span {
  display: block;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-item {
  text-decoration: none;
}

.social a {
  width: 32px;
  height: 32px;
  color: #000000;
  background: #FFFFFF;
  text-align: center;
  line-height: 32px;
}

.social a:hover {
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
}

.brand-description {
  min-height: 350px;
  background: #F1E4E6;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.brand-description img {
  width: 50%;
  height: auto;
}

.brand-description-wrp {
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
  width: 377px;
  margin: 17% 0 0 0;
}

.brand-description-h {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
}

.brand-description-text {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin: 0;
}

.brand-description-text span {
  color: #F16D7F;
}

.main-content {
  padding: 0 14% 0 14%;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px 0 0 0;
  margin-bottom: 96px;
  margin: 0 -15px;
}

.offer-item {
  width: 33%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-bottom: 30px;
  position: relative;
  padding: 0 15px;
}

.offer-item-description {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
}

.offer-item img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.offer-accesories {
  background-color: rgba(33, 22, 22, 0.7);
  background-image: url("img/acces.png");
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 115px;
  background-blend-mode: multiply;
  padding: 65px 0 0 0;
}

.offer-top-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #F1E4E6;
}

.offer-bot-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.featured {
  text-align: center;
  padding: 0 0 95px 0;
}

.featured-header {
  margin-bottom: 48px;
}

.featured-header h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
}

.featured-header p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
}

.special-offer {
  min-height: 341px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 103px 12%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.special-offer-item {
  max-width: 360px;
  color: #FBFBFB;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 60px 0 0 0;
  text-align: center;
  margin: 0 1%;
}

.special-offer-item span {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.special-offer-item span::first-letter {
  text-transform: uppercase;
}

.special-offer-item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.special-offer-item:nth-child(1) {
  background-image: url("img/delivery.png");
}

.special-offer-item:nth-child(2) {
  background-image: url("img/dicount.png");
}

.special-offer-item:nth-child(3) {
  background-image: url("img/assurance.png");
}

.product-buybtn {
  border: 1px solid #F26376;
  color: #F26376;
  line-height: 43px;
  background: transparent;
}

.product-buybtn-buybtn:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFF;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
}

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.product-items h2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 13px;
  color: #000;
}

.product-item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 0 15px;
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.product-item-addtocart {
  height: 43px;
  width: 138px;
  border: 1px solid #FFF;
  color: #FFF;
  line-height: 43px;
}

.product-item-text {
  padding: 26px 29px 20px 17px;
  background: #F8F8F8;
  text-align: left;
}

.product-item-text a {
  text-decoration: none;
}

.product-item img {
  display: block;
  width: 100%;
  height: auto;
}

.product-item-wrp {
  text-align: center;
}

.product-item-wrp:hover img {
  -webkit-filter: brightness(33%);
          filter: brightness(33%);
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
}

.product-item-wrp:hover button {
  display: block;
}

.product-description {
  text-align: center;
  margin: auto;
  position: relative;
  top: -65px;
  background: #FFF;
  border: 1px solid #EAEAEA;
  padding: 65px 0 65px 0;
}

.product-description-category {
  display: block;
  max-width: 555px;
  margin-bottom: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
}

.product-description-name {
  display: block;
  max-width: 555px;
  margin-bottom: 49px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
}

.product-description-text {
  max-width: 555px;
  margin-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #4D4D4D;
}

.product-filter {
  min-height: 132px;
  max-width: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 51px 0 64px 0;
}

.product-filter-header {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  color: #000;
}

.product-filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-bottom: 49px;
}

.product-filter-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  background-image: url("img/filterbutton.png");
  background-repeat: no-repeat;
  background-position: right 7px;
  padding-right: 20px;
  margin-right: 28px;
}

.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 18px;
  color: #5D5D5D;
}

.price {
  max-width: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

.buybtn {
  height: 43px;
  width: 138px;
}

.top-pagination {
  background: #F7F7F7;
  background-image: url("img/woman5.png");
  min-height: 777px;
  background-repeat: no-repeat;
  background-position: center;
}

.top-line {
  border: none;
  margin-bottom: 12px;
  height: 3px;
  width: 63px;
  background-color: #EF5B70;
}

.bottom-line {
  border: none;
  height: 1px;
  width: 641px;
  margin-top: 65px;
  margin-bottom: 65px;
  background-color: #EAEAEA;
}

.catalog-buybtn {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  line-height: 43px;
  position: absolute;
  left: 111px;
  top: 188px;
  display: none;
  background: transparent;
}

.catalog-buybtn-absolute {
  position: absolute;
  left: 111px;
  top: 139px;
  display: none;
  background: transparent;
}

.catalog-header-content {
  min-height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 59px 230px 0 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-header-content-h {
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 283px;
  margin: auto;
  margin-bottom: 96px;
}

.catalog-pagination span {
  color: #EF5B70;
}

.catalog-pagination-step {
  text-decoration: none;
  color: #000;
}

.catalog-pagination-page {
  text-decoration: none;
  color: #E1E1E1;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.breadcrumb-link {
  cursor: pointer;
  text-decoration: none;
  color: #636363;
}

.breadcrumb-active {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumb-icon {
  margin: 0 4px 0 4px;
}

.browse-items {
  border: 1px solid #FF6A6A;
  padding: 14.5px 38.5px 14.5px 38.5px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
  background: #FFF;
  margin-top: 15px;
}

.browse-items:hover:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFF;
  -webkit-transition-duration: 80ms;
          transition-duration: 80ms;
}

.cart {
  padding: 96px 0 0 0;
}

.cart-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 652px;
          flex: 0 0 652px;
}

.cart-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 652px;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 0.4em 0.4em 20px rgba(122, 122, 122, 0.5);
          box-shadow: 0.4em 0.4em 20px rgba(122, 122, 122, 0.5);
  position: relative;
}

.cart-product-item-h {
  display: block;
  margin: 0 0 42px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #222222;
}

.cart-product-item-delete {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart-product-item img {
  display: block;
}

.cart-product-item-wrp {
  padding: 22px 97px 0 31px;
}

.cart-product-item-wrp p {
  margin: 0 0 6px 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #575757;
}

.cart-product-item-wrp input {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.cart-checkout {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  max-width: 360px;
}

.cart-checkout form {
  margin: 0 0 57px 0;
}

.cart-checkout-total {
  width: 100%;
  padding: 39px 42px 42px 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F5F3F3;
}

.cart-checkout-total hr {
  margin: 0 0 17px 0;
  color: #E2E2E2;
}

.cart-checkout-total-proceed {
  padding: 15px 0 16px 0;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  background: #F16D7F;
  color: #FFF;
  border: none;
}

.cart-checkout-total-sub {
  margin: 0 0 12px 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
}

.cart-checkout-total-grand {
  margin: 0 0 21px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-align: right;
}

.cart-checkout-total-grand span {
  color: #F16D7F;
  font-weight: 700;
}

.cart-checkout-shipping-h {
  display: block;
  margin: 0 0 20px 0;
}

.cart-checkout-shipping input {
  display: block;
  border: 1px solid #A4A4A4;
  padding: 13px 17px 16px 17px;
  width: 100%;
  margin: 0 0 21px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.cart-checkout-shipping button {
  border: 1px solid #A4A4A4;
  padding: 10px 14px 12px 15px;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
  color: #4A4A4A;
  background: #FFFFFF;
}

.cart-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 72px 0 128px 0;
}

.cart-btns button {
  padding: 16px 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #000000;
  border: 1px solid #A4A4A4;
  background: #FFF;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0 96px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration-loyalty {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 652px;
          flex: 0 0 652px;
}

.registration-loyalty span {
  display: block;
  margin: 0 0 22px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}

.registration-loyalty p {
  margin: 0 0 21px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}

.registration-loyalty ul {
  list-style-position: inside;
  list-style-type: none;
}

.registration-loyalty li {
  margin: 0 0 18px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}

.registration-loyalty li svg {
  fill: black;
  margin: 0 23px 0 0;
}

.registration-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}

.registration-form span {
  display: block;
  text-transform: capitalize;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
}

.registration-form input[type='text'] {
  display: block;
  margin: 0 0 21px 0;
  padding: 13px 17px 16px 17px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.registration-form label input[type="radio"] {
  display: none;
}

.registration-form label input[type="radio"] ~ span {
  position: relative;
  display: inline-block;
  padding: 3px 0 3px 25px;
  margin: 0 20px 35px 0;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
}

.registration-form label input[type="radio"] ~ span:before {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  background: #FFF;
  margin-right: 10px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: 0;
  top: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.registration-form label input[type="radio"]:checked ~ span:before {
  border: 5px solid #F16D7F;
}

.registration-form p {
  margin: 0 0 39px 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  color: #B1B1B1;
}

.registration-form button {
  padding: 16px 29px;
  min-width: 167px;
  border: none;
  background: #F16D7F;
  color: #FFF;
  text-transform: uppercase;
  text-align: left;
}

.registration-form button svg {
  fill: #FFF;
  margin: 0 0 0 20px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 4%;
  }
  .product-item {
    width: 50%;
  }
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .offer-item {
    width: 100%;
    padding: 0;
  }
  .subscribe {
    padding: 0 4%;
  }
  .page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .special-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brand-description-wrp {
    margin-left: auto;
    margin-right: auto;
  }
  .brand-description img {
    display: none;
  }
}

@media (max-width: 375px) {
  .product-item {
    width: 100%;
  }
}

* {
  font-family: Lato;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=styles.css.map */